@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-Italic.eot');
    src: local('Replica Pro Italic'), local('../fonts/ReplicaPro-Italic'),
        url('../fonts/ReplicaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReplicaPro-Italic.woff') format('woff'),
        url('../fonts/ReplicaPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-Heavy.eot');
    src: local('Replica Pro Heavy'), local('../fonts/ReplicaPro-Heavy'),
        url('../fonts/ReplicaPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReplicaPro-Heavy.woff') format('woff'),
        url('../fonts/ReplicaPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-BoldItalic.eot');
    src: local('Replica Pro Bold Italic'), local('../fonts/ReplicaPro-BoldItalic'),
        url('../fonts/ReplicaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReplicaPro-BoldItalic.woff') format('woff'),
        url('../fonts/ReplicaPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-HeavyItalic.eot');
    src: local('Replica Pro Heavy Italic'), local('../fonts/ReplicaPro-HeavyItalic'),
        url('../fonts/ReplicaPro-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReplicaPro-HeavyItalic.woff') format('woff'),
        url('../fonts/ReplicaPro-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-Regular.eot');
    src: local('Replica Pro'), local('ReplicaPro-Regular'),
        url('../fonts/ReplicaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReplicaPro-Regular.woff') format('woff'),
        url('../fonts/ReplicaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-Light.eot');
    src: local('Replica Pro'), local('ReplicaPro-Light'),
        url('../fonts/ReplicaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReplicaPro-Light.woff') format('woff'),
        url('../fonts/ReplicaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display: swap;
}