/*
Theme Name: UOS Research Theme - 2020
Description:  Design your website live from the theme customizer screen : choose your favorite color skin, upload a logo...  The clean and fully responsive design can be used for any type of website: corporate, portfolio, business, blog, landing page, etc. This theme is built with HTML5 and CSS3 upon the Twitter Bootstrap framework.
Author: Richard McBryer
Author URI: http://www.blogs.salford.ac.uk
Version: 1.00
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive-layout, custom-background, right-sidebar, featured-images, theme-options, threaded-comments, sticky-post, post-formats

*/
@import url('css/bootstrap.min.css');
html {
	margin-top: 0 !important;
}
body {
	font-family: 'Replica Pro', 'Arial', sans-serif;
	background: rgba(0, 0, 0, 0) url("//www.salford.ac.uk/__data/assets/image/0005/561947/pw_maze_white.png") repeat scroll 0 0;
}
.main-content {
	text-align: left;
	margin: 0 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Replica Pro', 'Arial', sans-serif;
	font-size-adjust: 0.492;
	font-style: normal;
	font-weight: normal;
}
h1 {
	font-size: 30px;
}
h2, .h2 {
	font-size: 26px;
}
h3, .h3 {
	font-size: 22px;
}
hr.style {
	border: 0 none;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
	height: 1px;
	margin: 50px auto 20px;
	width: 60%;
}
.alignleft {
	text-align: left;
	float: left;
	margin-right: 10px;
}
.alignright {
	text-align: right;
	float: right;
	margin-left: 10px;
}
.aligncenter {
	text-align: center;
}
.container {
	background: #fff;
}
.site-logo {
    padding: 10px 0;
}
.logo {
    float: left;
    width: 100%;
}

.logo h1, .logo h2 {
	margin: 0;
}
.site-logo img {
    margin-right: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
    padding: 20px;
    text-align: left;
}
footer a:link, footer a:visited {
	color: #fff !important;
}
footer .widget-area {
	margin-left: 40px;
}
footer .theme-text-color {
	color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #c60c30;
    color: #fff !important;
}
.time-date {
    background: #eee none repeat scroll 0 0;
    border-radius: 6px;
    font-family: 'Replica Pro', 'Arial', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.month {
    display: block;
}
.date {
    display: block;
    font-size: 30px;
}
.year {
    display: block;
}
.post {
    min-height: 120px;
}
.site-header {
    margin-left: -15px;
    margin-right: -15px;
}
.textwidget {
    margin-top: 10px;
}
.cat-post-widget ul {
    padding-left: 0;
}
.cat-post-title {
    font-size: inherit!important
}
.archive .container.wrapper {
    margin-left: -35px;
}
.current {
    float: left;
    padding-top: 10px;
}
/*NAVIGATION*/   

.navbar-header {
    width: 100%;
}
.nav-collapse.collapse {
	margin-left: 5px;
}
.navbar-collapse {
    width: 100%;
}

#primary-navbar-collapse a {
    color: #333;
    font-family: 'Replica Pro', 'Arial', sans-serif;
    font-size: 16px;
}
.collapse.navbar-collapse {
    background: #eee;
    border-radius: 6px;
    margin: 20px 0;
}
.nav {
	font-family: 'Replica Pro', 'Arial', sans-serif;
}
.navbar .nav {
	margin: 5px 0;
}
.navbar ul {
	margin: 0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #777;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
.caption > h3
}
.navbar-toggle {
	border-radius: 0;
	border: 1px solid #333;
}
.navbar-toggle .icon-bar {
	background-color: #333;
}
.nav-tabs.nav-stacked > li:last-child > a {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: none;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-inner {
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	box-shadow: none;
}
.nav-collapse .navbar-form, .nav-collapse .navbar-search {
	border-bottom: none;
	border-top: none;
	box-shadow: none;
}
.navbar-search {
	float: right;
	margin-left: 10px;
}
.navbar-search .search-query {
	border-radius: 0;
	font-size: inherit;
	height: 32px;
	margin-top: -5px;
}
.navbar .nav > li > a {
	color: #fff;
}
.nav-stacked > li {
	margin-right: 5px;
}
#searchform input {
	max-width: 88%;
}

.navbar-header {
	display: flex;
	padding-top: 1rem;
}

@media screen and (max-width: 1199px){
	.navbar-header {
		padding-bottom: 1rem;
	}
}

.navbar-header > .logo {
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-header > .uni-logo {
	max-height: 100px;
}

/*BREADCRUMBS*/  
.breadcrumbs > ul {
	list-style: none outside none;
}
.breadcrumb {
	background-color: transparent;
	margin: 0;
}
.breadcrumb a {
	padding-right: 10px;
}
.breadcrumb > li {
	text-shadow: inherit;
}
.fa.fa-home {
	font-size: 20px;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
}
h1.site-title {
    font-size: 45px;
}
h2.site-description {
	font-size: 20px;
}
#header-wrapper.fixed a:link, #header-wrapper.fixed a:link, #header-wrapper.fixed a:hover {
	color: #fff;
}
.welcome-message {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	width: 400px;
}
.lt-ie10 .welcome-message {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin-bottom: 30px;
}
.lt-ie9 .welcome-message {
	background-color: rgb(0,0,0);
	padding: 20px;
	margin-bottom: 30px;
}
.welcome-message > h1 {
	font-size: 80px;
	line-height: 1;
	text-shadow: 2px 2px #000;
}
.welcome-message p {
	color: #fff;
	padding: 10px;
	text-shadow: 2px 2px #000;
}
.welcome-message span {
	font-size: 50px;
	font-weight: 300;
	line-height: 2;
}
.welcome-message .btn {
	margin-bottom: 30px;
}
/*Site carousel*/  

.site-branding > img {
	width: 100%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}
#content .site-branding a {
	color: #FFFFFF;
}
.carousel-indicators {
	bottom: 86%;
	left: 0;
	list-style: none outside none;
	margin-left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 15;
}
.carousel-control {
	font-family: 'Replica Pro', 'Arial', sans-serif;
	font-size: 100px;
	width: 7%;
}
.carousel-caption {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 8px;
	left: 15%;
	padding-bottom: 2px;
	right: 15%;
	text-align: left;
}
.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4 {
	margin: 0;
}
.lt-ie9 .carousel-caption {
	background-color: #333;
}
.img-responsive {
	margin: 0 auto;
}
.social-media {
	float: right;
	margin: 10px 20px;
}
.social-media a {
	font-size: 15px;
	margin-top: -10px;
	padding: 6px;
}
.social-media a:hover {
	color: #1A6592;
}
.social-media .nav a {
	font-size: 14px;
}
.wp-caption {
	background: #fff;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
	width: 100%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	font-size: 12px;
}
.navbar-toggle {
	margin-righT: 0;
	margin-left: 15px;
	max-height: 44px;
}
.sticky {
}
.gallery-caption {
}
.bypostauthor {
}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
	max-width: 100%;
	height: auto;
}
/* calendar widget */  
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	text-align: right;
	color: #333;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 15px;
}
#wp-calendar thead {
	font-size: 10px;
}
#wp-calendar thead th {
	padding-bottom: 10px;
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	text-align: center;
	padding: 8px;
}
#wp-calendar tbody td:hover {
	background: #fff;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}
#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
}
.navbar-inner {
filter: -;
}
.col-md-9 iframe {
    max-width: 100%;
}
.sidebar {
	background: #ededed;
	margin-top: 10px;
	padding-right: 10px;
}
.widget_recent_entries h3:before {
	font-family: FontAwesome;
	content: "\f040";
	padding-right: 5px;
}
.widget_recent_comments h3:before {
	font-family: FontAwesome;
	content: "\f086";
	padding-right: 5px;
}
.widget_archive h3:before {
	font-family: FontAwesome;
	content: "\f017";
	padding-right: 5px;
}
.widget_categories h3:before {
	font-family: FontAwesome;
	content: "\f07c";
	padding-right: 5px;
}
.widget_meta h3:before {
	font-family: FontAwesome;
	content: "\f085";
	padding-right: 5px;
}
.widget_tag_cloud h3:before {
	font-family: FontAwesome;
	content: "\f02c";
	padding-right: 5px;
}
.widget_pages h3:before {
	font-family: FontAwesome;
	content: "\f15c";
	padding-right: 5px;
}
.widget select {
	width: 100%;
}
#search-form input[type="submit"] {
	-moz-appearance: none !important;
	border: 0 none;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin-left: -8px;
	margin-top: -10px;
	padding: 13px;
	transition: background-color 0.3s linear 0s;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding: 10px;
}
blockquote {
	background-color: #333;
	border-left: medium none;
	color: #fff;
	margin-bottom: 20px;
	padding: 30px 30px 20px 50px;
}
blockquote:before, q:before {
	content: "\f10d";
	float: left;
	font-family: FontAwesome;
	font-size: 26px;
	margin-right: 10px;
}
blockquote a:hover {
    color: #fff;
    text-decoration: none;
}
blockquote a {
    color: #fff;
    text-decoration: underline;
}
.quote-author {
	font-size: 16px;
	margin-top: 10px;
}
cite {
	font-size: small;
	font-style: italic;
}
.sticky h2:after {
	content: "\f0c6";
	font-family: FontAwesome;
	padding-left: 10px;
}
#expanding-search input[type="nav-search"] {
	border-radius: 0;
	color: transparent;
	cursor: pointer;
	height: 40px;
	margin-top: 5px;
	padding: 10px;
	width: 36px;
}
#expanding-search input[type="nav-search"]:hover {
	background-color: #333;
}
#expanding-search input[type="nav-search"]:focus {
	background-color: #fff;
	color: #000;
	cursor: auto;
	padding-left: 32px;
	width: 130px;
}
#expanding-search input:-moz-placeholder {
 color: transparent;
}
input[type="nav-search"] {
	background: rgba(0, 0, 0, 0.8) url("img/expanding-search.png") no-repeat scroll 8px center;
	transition: all 0.5s ease 0s;
}
.attachment-full.wp-post-image {
	float: right;
	max-width: 50%;
	padding: 0 0 0 20px;
}
.widget_search .search-field {
	width: 60%;
}

.widget.widget_search:first-child {
	margin-top: 15px;
}

/*MEDIA QUERIES*/  
@media (max-width: 1199px) {
.navbar-toggle {
    right: 0;
}
.carousel-caption > h2 {
	font-size: 25px;
}
.carousel-caption > p {
	font-size: 13px;
}
.dropdown-menu > li > a {
	border-bottom: 1px solid #333;
	padding: 10px 21px;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 14px;
}
#wp-calendar tbody td {
	padding: 7px;
}
.collapse.navbar-collapse.pull-right {
	margin-top: 0;
}
#primary-navbar-collapse {
	width: 100%;
}
.collapse.navbar-collapse.pull-right {
	border-radius: 0;
}
nav.col-md-12 {
	padding-right: 0;
}
footer .widget-area {
	margin-left: 30px;
}
}

@media (max-width: 991px) {
.container {
	width: 100%;
}
}

@media (max-width: 980px) {

h1.site-title {
    font-size: 30px;
}
h2.site-description {
    font-size: 15px;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 20px;
}
.navbar-fixed-top {
	position: fixed;
}
.navbar .nav li a {
	font-weight: 100;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #fff;
	color: #000;
}
.widget_search #search-form input[type="submit"] {
	display: none;
}

#wp-calendar tbody td {
	padding: 5px;
}
.site-logo img {
    width: 100px;
}
}

@media (max-width: 900px) {
.carousel-caption {
	background-color: #333;
	bottom: 0;
	left: 0;
	padding-bottom: 10px;
	padding-top: 1px;
	position: relative;
	right: 0;
	width: 100%;
}
.carousel-caption .btn {
    padding: 1px 4px;
}
.carousel-caption h2 {
    margin-top: 10px;
}
.nav > li {
	padding: 0;
}
.carousel-caption h2, .carousel-caption .h2 {
    font-size: 23px;
}
}

@media (max-width: 850px) {
#wp-calendar tbody td {
	padding: 4px;
}
}

@media (max-width: 801px) {

/*
.site-logo {
	margin-left: -15px;
}
*/	
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-left: -15px;
	margin-right: -30px;
}
}

@media (max-width: 768px) {
body {
	padding-left: 0;
	padding-right: 0;
}
.navbar-inverse.navbar-collapse.pull-right.collapse.in {
	width: 100%;
}
.main-content h1 {
	width: 65%;
}
#header-wrapper {
	box-shadow: none;
}
}

@media only screen and (min-width : 900px) {
/* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {
	display: block;
}
}

@media (max-width: 701px) {
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 6px;
}
.btn-btm-nav {
	width: 100%;
}
}

@media (max-width: 550px) {
.carousel-control {
	font-size: 70px;
}
.main-content h1 {
	width: 100%;
}
.main-content h1 {
	font-size: 28px;
}
.home .main-content {
	margin: 0 10px;
}
}

@media (max-width: 481px) {
	
.site-logo a {
    width: 100%;
}	
.site-logo img {
    margin-bottom: 10px;
}
.logo-title {
    margin-left: 10px;
}
.carousel-caption {
	width: 100%;
}
#content .site-branding a {
	float: none;
}
.social-media {
	height: 46px;
	left: 0;
	margin: 0;
	padding: 10px 0;
	position: relative;
	right: 0;
	text-align: center;
	top: -3px;
}
.btn-btm-nav {
	font-size: 12px;
}
#menu-secondary-navigation a {
	margin-left: 5px;
}
.welcome-message {
	width: 90%;
}
}

@media (max-width: 360px) {
ul.unstyled, ol.unstyled {
	list-style: none outside none;
	margin-left: 0;
}
.main-content h1 {
	font-size: 24px;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 10px;
}
.main-content .attachment-thumbnail.wp-post-image {
	max-width: 100px;
}
.pull-left {
	float: left;
}
.welcome-message > h1 {
	font-size: 20px;
}
h1.site-title {
	font-size: 21px;
}
.site-logo {
	margin-left: 0;
}
}

@media (max-width: 320px) {
.main-content .attachment-thumbnail.wp-post-image {
	display: block;
	float: none;
	margin: 0 auto;
	max-width: none;
	padding-bottom: 10px;
	text-align: center;
}
.carousel-control {
	font-size: 50px;
}
.dropdown-backdrop {
	position: static;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
.navbar-collapse.collapse {
	display: none !important;
}
.navbar-collapse.collapse.in {
	display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
	display: block !important;
}
.navbar-header {
	float: none;
}
}
